<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.oaklandcc.monstermelee">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.GameOverActivity"></activity>
        <activity android:name=".view.GiveUpActivity" />
        <activity android:name=".view.FightActivity" />
        <activity android:name=".view.EnemyIntroductionActivity" />
        <activity android:name=".view.SelectStatsActivity" />
        <activity android:name=".view.WonMatchActivity" />
        <activity android:name=".view.SelectCharacterActivity" />
        <activity android:name=".view.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>